/* You can add global styles to this file, and also import other style files */
@import "./assets/bootstrap/bootstrap.min.css";
@import "./assets/bootstrap-icons/bootstrap-icons.css";

/* Global custom styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

.card {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.btn {
  border-radius: 4px;
}
